.main {
  display: grid;
  grid-template-columns: 8rem 1fr;

  height: 100%;
  width: 100%;
  background-color: black;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr;

  background-color: green;
}